*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: rgb(228, 217, 217);
}

.mainmenu{
  width: 100%;
  height: 60px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,7,128,1) 0.1%, rgba(37,145,251,0.98) 99.8% );
}

.enlace, ul, li{
  display: inline;
  line-height: 60px;
}

.checkbtn, ul{
  float: right;
}

li{
  margin-right: 30px;
}
a.link{
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}
a.link:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}
a.active{
  background-color: white;
  border-radius: 5px;
  padding: 4px 10px;
  color: black;
}
a.active:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}
.checkbtn{
  float: right;
  display: none;
}
#check{
  display: none;
}

.barner{
  background-image: linear-gradient(0deg, #2AF598 0%, #08AEEA 100%);
  padding: 20px 10%;
  width: 100%;
  color: white;
}
.sub-titulos{
  margin: 20px;
  text-align: center;
}
/*--------------inicio estilos tutorial--------------------------------*/

.titulo{
  padding: 20px;
  text-align: center;
}
.video{
  display: block;
  width: 70vw;
  height: 39.375vw;
  box-sizing: content-box;
  margin: 5px auto;
}
iframe{
  width: 100%;
  height: 100%;
}
.contenido{
  display: block;
  width: 80%;
  box-sizing: content-box;
  margin: 5px auto;
}
.uno{
  background-color: burlywood;
}
.dos{
  background-color: grey;
}

/*--------------------fin estilos tutorial-------------------------------*/

.redes{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
  padding: 20px;
  display: block;  
  width: 100%;
  height: auto;
  margin: 0px 0px;
  text-align: center;
  color: white;
}
.contacto{
  display: inline-block;
  margin-right: 50px;
  margin-left: 5px;
}
.red{
  display: inline-block;
}

.date{
  background-color: black;
  color: white;
  font-size: small;
  text-align: center;
  padding: 5px;
}
@media screen and (max-width: 850px){
  /*estilos*/
  .video{
    display: block;
    width: 80vw;
    height: 45vw;
    box-sizing: content-box;
    margin: 5px auto;
  }

/*estilos*/
}

@media screen and (max-width: 600px) {
  .checkbtn{
      display: block;
      margin-right: 30px;
      line-height: 60px;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.94) 0.1%, rgba(0,7,128,0.94) 99.8% );
      top: 60px;
      text-align: center;
      left: -100%;
      margin: 0px 0px;
      line-height: 30px;
      transition: all 0.3s;
  }
  li{
      display: block;
      margin: 30px 0px;
  }
  #check:checked ~ ul{
      left: 0;
  }
  a.link{
      color: white;
      background-color: transparent;
      border-radius: 5px;
      font-size: large;
      padding: 4px 10px;
  }
  a.link:hover{
      background-color: blue;
      color: white;
      border-radius: 5px;
      padding: 4px 10px;
  }
  a.active{
    font-size: large;
  }
  a.active:hover{
      background-color: blue;
      color: white;
  }

  .barner{
    margin: 0px;
  }
  /*estilos*/

  .video{
    display: block;
    width: 100vw;
    height: 56.25vw;
    box-sizing: content-box;
    margin: 5px auto;
  }

  /*estilos*/
  .contacto{
    display: block;
    margin-top: 20px;
  }
}