*,::before, ::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}
img, video, iframe{
  max-width: 100%;
  display: block;
  object-fit: cover;
}
a{
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
form, input, textarea{
  font-family: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}
svg{
  width: 100%;
  display: block;
  fill: currentColor;
}
html{
  scroll-behavior: smooth;
}

:root{
  --primary-color:rgba(151,170,242,1);         
  --primary-light-color:rgba(202,219,255,1);   
  --primary-dark-color:rgba(102,123,191,1);    
  --complementary-color:rgba(242,222,151,1);   
  --analogous-a-color:rgba(151,216,242,1);     
  --analogous-b-color:rgba(177,151,242,1);     
  --triadic-a-color:rgba(222,151,242,1);       
  --triadic-b-color:rgba(242,151,171,1);      
  --triadic-c-color:rgba(171,242,151,1);       

  --background-color:rgba(224 ,224,224,1);     
  --text-color:rgba(41,41,41,1);                 

  --gradient-a-color:rgba(202,219,255,0.3);    
  --gradient-b-color:rgba(102,123,191,0.3);    
}

body{
  width: 100%;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}
.container{
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 30px;
}
.box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding-top: 40px;
  border-radius: 20px;
  box-shadow:  6px 6px 13px #a8a8a8,
             -6px -6px 13px #ffffff;
}
.box p{
  padding: 20px;
  font-size: 24px;
}
a{
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  margin: 20px;
  font-size: 24px;
  box-shadow:  6px 6px 13px #a8a8a8,
             -6px -6px 13px #ffffff;
}
a:hover{
  transform: scale(0.9);
}
img{
  max-width: 300px;
  padding: 5px;
}

@media screen and (max-width: 600px){
  .container{
    flex-direction: column;
    margin-top: 10px;
  }
  .box{
    width: 260px;
    margin-top: 20px;
  }
  .box p, a{
    font-size: 20px;
  }
  img{
    width: 90%;
  }
}